<div id="content-wrapper">
  <div class="blocks-container">
    <section class="test">
      <div>
        <div class="grid">
          <div class="col-6">
            <div id="video-dis">
              <iframe
                id="display-frame"
                src=""
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <div class="col-6">
            <div id="v-list" class="video-li p-3 shadow-2 border-round-xl">
              <div id="vli-info">
                <div id="upper-info">
                  <div id="li-titles">
                    <div class="title">Training Videos</div>
                    <div class="sub-title">
                      <a class="channel">Workout/Poses</a>
                      -
                      <span id="video-count">1 / 2</span>
                    </div>
                  </div>
                  <div id="drop-icon"></div>
                </div>
                <!-- <div id="lower-info">
                                    <div id="btn-repeat"></div>
                                    <div id="btn-suffle"></div>
                                    <div id="btn-save"></div>
                                </div> -->
              </div>

              <div id="vli-videos">
                <div
                  class="video-con active-con"
                  video="https://www.youtube.com/embed/CbVPqT2xC6I?si=gfVLUehNCj9hp-Ya"
                >
                  <div class="index title ml-2">0</div>
                  <div class="thumb">
                    <img src="assets/images/v1.PNG" alt="" />
                  </div>
                  <div class="v-titles">
                    <div class="title">
                      How to INSTANTLY improve your PHYSIQUE👀 (posing tutorial)
                    </div>
                    <div class="sub-title">
                      <a
                        href="https://www.youtube.com/@NoelDeyzel"
                        class="channel"
                        target="_blank"
                        >Noel Deyzel</a
                      >
                    </div>
                  </div>
                </div>

                <div
                  class="video-con"
                  video="https://www.youtube.com/embed/nZLKcZH8Aj4?si=mjEH_z4whbAXXpXr"
                >
                  <div class="index title ml-2">0</div>
                  <div class="thumb">
                    <img src="assets/images/v2.PNG" alt="" />
                  </div>
                  <div class="v-titles">
                    <div class="title">Biepe Curl Correct Technique</div>
                    <div class="sub-title">
                      <a
                        href="https://www.youtube.com/@aresperera"
                        class="channel"
                        target="_blank"
                        >Ares Perera</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
